{% extends 'base.html' %}
    {% block title %}
        Info_file
    {% endblock %}

    {% block breadcrumb %}
        <li class="breadcrumb-item active">معلومات حول الملف</li>
        
    {% endblock %}
    
    {% block content %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>اسم الملف</th>
                    <th>اسم المستخدم</th>
                    <th>نوع الملف</th>
                    <th>وصف الملف</th>
                    <th>حالة الملف</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if request.user.user_type == 'مساعد' and request.user.uploadfile_set.all.first.user == request.user%}
                        <a href="{% url 'edit_file' file.id %}">{{file.file}}</a>
                        <small class="text-muted d-block"></small>
                        {% elif request.user.user_type == 'مدقق' and request.user.upload_file_set.get.user == request.user %}
                        <a href="{% url 'edit_file' file.id %}">{{file.file}}</a>
                        <small class="text-muted d-block"></small>
                        {% else %}
                        {{file.file}}
                        <small class="text-muted d-block"></small>
                    </td>
                    {% endif %}
                    <td>{{file.user.username}}</td>
                    <td>{{file.type_file}}</td>
                    <td>{{file.note}}</td>
                    <td>
                        {% if file.statusfile_set.all.first.status %}
                        {{file.statusfile_set.all.first.status}}
                        {% else %}
                        {{'قيد المعالجة '| escape}} 
                        {% endif %}
                    </td> 
                </tr>
            </tbody>
        </table>
    {% endblock %}